{% extends 'map/base.html' %}

{% block title %}About - Business Store Location Manager{% endblock %}

{% block nav_links %}
{% include 'map/dashboard_nav.html' %}
{% endblock %}

{% block content %}
<div class="card" style="max-width: 800px; text-align: left;">
    <h1>About Us</h1>
    <p>Business Store Location Manager is a leading location management solution designed for businesses to organize and
        visualize their store
        locations effectively.</p>
    <p>Our goal is to provide a seamless interface for managing geographical data.</p>
</div>
{% endblock %}