<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Business Store Location Manager{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'map/style.css' %}">
</head>

<body>
    <nav>
        <a href="/" class="logo">Business Store Location Manager</a>
        <div class="nav-links">
            {% block nav_links %}
            {% endblock %}
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>